body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#listOfCountries {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.eachCountry {
  border: 1px solid black;
  width: 29vw;
  height: 35vh;
  margin-bottom: 5vh;
}

.flagImg {
  border: 1px solid black;
  width: 15vw;
}

.centerContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
